body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: cursive;
  height: 90vh;
  width: 90vw;
}
main {
  width: 100%;
  height: 90%;
  border: 1px solid rgb(185, 61, 185);
  
}

section {
  border: 1px solid rgb(231, 220, 220);
  border-radius: 8px;
  background: rgb(192, 168, 192);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

div {
  box-shadow: 0 0 5px 2px rgb(66, 78, 66);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  padding: 25px;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}


@media screen and (max-width: 600px) {
 div {
  width: 30px;
  height: 30px;
  padding: 20px;
  font-size: 20px;
}
}