body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: cursive;
  height: 90vh;
  width: 90vw;
}

main {
  box-shadow: 0 0 8px 5px rgb(175, 148, 148);
  border-radius: 8px;
  background: rgb(192, 168, 192);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: rgb(192, 168, 192);
  padding: 15px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  transform: scale(1.02);
}

button:active {
  transform: scale(0.95);
}

div {
  box-shadow: 0 0 5px 2px rgb(66, 78, 66);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  padding: 25px;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

h2 {
  font-family: fantasy;
  letter-spacing: 3px;
  border: 3px dashed red;
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  div {
    width: 30px;
    height: 30px;
    padding: 20px;
    font-size: 20px;
  }
}
